
<div class="row"  >
  <nav class="navbar navbar-inverse" style="border: 0;font-size: 20px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">WorkZone</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
        
      </div>
    </div>
  </nav>
</div>

<div class="container-fluid">
<div class="row" style="margin-top:20px;">
  
    
    <div class="col-md-2">
      <div class=" col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><h3> Welcome {{currentUser.userName}}</h3></li><br>
          <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
          <li><a [routerLink]="['/sidemenu/messages']">Messages</a></li>
          <li><a [routerLink]="['/sidemenu/userissue']">Issues</a></li>
          <li><a [routerLink]="['/sidemenu/task']">Tasks</a></li>
          <li><a [routerLink]="['/sidemenu/reports']">Reports</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a [routerLink]="['/sidemenu/createissue']">Create Issue</a></li>
          <li><a href="">Create Task</a></li>
          <li><a [routerLink]="['/projects']">Projects</a></li>
          <li><a [routerLink]="['/sidemenu/team']">Team</a></li>
          <li><a [routerLink]="['/sidemenu/profile']">Profile</a></li>
        </ul>
        
      </div>
    </div>
      <div class="col-md-9 " >
          <router-outlet>
        
            </router-outlet>
      </div>
      
    </div>
  
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 

