<div class="container" style="padding:20px;">
<form [formGroup]="CreateIssue" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Issue name</label>
      <input type="email" class="form-control" formControlName="issueName" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Issue Name">
      
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Issue Description</label>
        <textarea class="form-control" formControlName="issueDescription"  id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
          <label for="exampleFormControlTextarea1">Issue Priority</label>
      <select class="form-control" formControlName="Priority" >
          
          <option>High</option>
          <option>Medium</option>
          <option>Low</option>
        </select>
      </div>
      <div class="form-group">
          <label for="exampleFormControlTextarea1">Percentage Completed</label>
          <select class="form-control" formControlName="issueStatus" >
              
              <option>New</option>
              <option>25</option>
              <option>50</option>
              <option>75</option>
              <option>Completed</option>
            </select>
          </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
