<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Issue ID</th>
        <th scope="col">Issue Name</th>
        <th scope="col">Issue Status</th>
        <th scope="col">Issue Priority</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let issue of issues">
        <th scope="row">{{ issue.issueId}}</th>
        <td>{{ issue.issueName}}</td>
        <td>{{ issue.issuePriority}}</td>
        <td>{{ issue.issueStatus}}</td>
        <td><button type="submit" class="btn btn-primary" (click) ='updateIssue( issue.issueId)' >Update Issue</button></td>
      </tr>
          </tbody>
  </table>
